.order-pg-cont {
  min-width: 667px;
}

.img-cont {
  width: 616px;
  height: 355px;
  left: 412px;
  top: 136px;
  background: url("./magicPotionImg.png");
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mP-title {
  width: 279px;
  height: 64px;
  left: 581px;
  top: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}

.field-title {
  position: relative;
  width: 296px;
  left: -134px;
  top: 25%;
  bottom: 75%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.title-section {
  display: inline-grid;
  align-content: center;
  justify-items: center;
  margin-bottom: 15px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-cont {
  margin-bottom: 120px;
}
.order-form {
  width: 616px;
}

.your-order-sect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.divider {
  width: 616px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 21px;

  background: #d3d3d3;
}

.billing-sect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

.input-error {
  margin: 0px;
  color: #bd200f;
  margin-top: 5px;
}

.input-field-error-box {
  padding-left: 15px;
  width: 296px;
  height: 56px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #bd200f;
}
.input-field {
  padding-left: 15px;
  width: 296px;
  height: 56px;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 8px;
}

#ccNum-title {
  left: -90px;
  top: 12px;
}

#exp-date-title {
  left: -104px;
  top: 12px;
}
#billing-header {
  position: relative;
  width: 179px;
  height: 32px;
  left: -1px;
  top: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

#exp-date-field {
  width: 136px;
  display: flex;
}

#qty {
  top: 12px;
}

.contact-sect {
  display: grid;
  justify-items: center;
  align-content: center;
}

#total-price {
  left: -118px;
  top: 12px;
}

#order-header {
  position: relative;
  top: 1px;
  width: 106px;
  height: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin: 0px;
  margin-top: 30px;
  color: #000000;
}

#order-btn {
  position: relative;
  width: 207px;
  height: 56px;
  top: 10px;
  background: #2a605c;
  border-radius: 4px;
}

#btn-text {
  position: relative;
  height: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

#asterisk {
  color: #bd200f;
}

#contact-field {
  width: 616px;
}

#contact-title {
  left: -267px;
  top: 12px;
}

#contact-header {
  margin: 0px;
  position: relative;
  width: 79px;
  height: 32px;
  left: -2px;
  top: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
